<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <script>
        window.location = 'https://flutter-124f5.web.app/doc.html'
    </script>
</head>

<body>
    <p>ok</p>
</body>

</html>